<aside class="sidebar">

    <button class="sidebar-toggle" id="sidebar-toggle">
        <svg class="sidebar-toggle__icon">
            <use xlink:href="#menu"></use>
        </svg>
    </button>

    <div class="logo">
        <a href="/">
            <div class="logo__border">
                <div class="logo__text">STYLE<br>WEB</div>
            </div>
        </a>

    </div>

    <nav class="menu" id="menu">
        <a class="menu__item active" href="#intro">INTRO</a>
        <a class="menu__item" href="#about">ABOUT</a>
        <a class="menu__item" href="#work">WORK</a>
        <a class="menu__item" href="#clients">CLIENTS</a>
        <a class="menu__item" href="#talk">LET'S TALK</a>
    </nav>

    <div class="social">
        <a class="social__box" href="#" target="_blank">
            <svg class="social__icon">
                <use xlink:href="#facebook"></use>
            </svg>
        </a>
        <a class="social__box" href="#" target="_blank">
            <svg class="social__icon">
                <use xlink:href="#twitter"></use>
            </svg>
        </a>
        <a class="social__box" href="#" target="_blank">
            <svg class="social__icon">
                <use xlink:href="#dribble"></use>
            </svg>
        </a>
        <a class="social__box" href="#" target="_blank">
            <svg class="social__icon">
                <use xlink:href="#linkedin"></use>
            </svg>
        </a>
    </div>

    <div class="copyright">&copy; 2021 Style Web</div>

</aside>