@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* Default styles */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $default-font-family;
  font-size: $default-font-size;
  line-height: 1.8;
  color: $grey;
}

/* Blocks */
@import "blocks/sidebar";
@import "blocks/logo";
@import "blocks/menu";
@import "blocks/social";
@import "blocks/copyright";
@import "blocks/wrapper";
@import "blocks/intro";
@import "blocks/about";

/* Bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/grid";