@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* Default styles */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: $default-font-family;
  font-size: $default-font-size;
  line-height: 1.8;
  color: $grey;
}

a {
  text-decoration: none;
}

/* Vendor */
@import "vendor/slick";
@import "vendor/slick-theme";

/* Bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";

/* Blocks */
@import "blocks/sidebar";
@import "blocks/sidebar-toggle";
@import "blocks/logo";
@import "blocks/menu";
@import "blocks/social";
@import "blocks/copyright";
@import "blocks/section";
@import "blocks/intro";
@import "blocks/about";
@import "blocks/work";
@import "blocks/slick";
@import "blocks/clients";
@import "blocks/talk";